#good_des ul li{line-height:38px;font-size:14px;}
#good_des ul li #good_price{font-size:20px;color:#c40000;}
#good_des #good_des_ser #good_ser_span{width: 42px; margin-bottom:-15px;margin-top:10px;float: left;}
#good_des #good_des_ser{width: 700px;font-size: 14px;float: left;margin-top:20px;}
#good_des #good_des_ser li,#good_des #good_des_fruit li{height: 40px;border:1px solid #ccc;float: left;margin: 1px 4px;padding-right: 5px;padding-left: 3px;}
#good_des #good_des_ser li img{width: 30px;height: 30px;margin: 5px;float: left;}
#good_des #good_des_ser li a,#good_des #good_des_fruit a{text-decoration: none;font-size: 12px;color: #000;padding-left: 5px;}
#good_des #good_des_fruit{width:680px;margin-top:20px;float: left;}
#good_des_fruit #goods_product_span{font-size: 14px;float: left;}
#good_des #good_des_ser1 #good_ser_li{margin-bottom:-48px;margin-top:10px;}
#good_des #good_des_ser1 li{margin-top:35px; float: left;}
#good_des_num{width:737px;margin-top:80px;margin-bottom:20px;float: left;}
#good_des_num li{display:inline-block;}
#good_des_num #good_num_li{font-size:12px;font-weight:bold;margin-right:20px;}
#good_des_num #good_num_li2{width:100px;height:27px;background:#f0f0f0;line-height:27px;border:1px solid #e8e8ea;padding-left: 20px;}
#good_des_num #good_num_li2 a{width:18px;height:20px;display:inline-block;}
#good_des_num #good_num_li2 input{width:40px;height:22px;line-height:20px;text-align:center;border:1px solid #bebebf;}
#good_des_opt li{float:left;}
#good_des_opt li a{display:block;}
#good_des_opt #good_buy,#good_des_opt #good_car{width:134px;height:34px;line-height:34px;text-align:center;font-size:16px;border-radius:2px;}
#good_des_opt #good_buy{background:#ffeded;border:1px solid #d2605e;color:#d2605e;margin-right:10px;}
#good_des_opt #good_car{padding-left:10px;background:#e51e13;color:#fff;border:1px solid #e51e13;background-image:url(../images/Goodsinfoimgs/inner.png);background-repeat:no-repeat;background-position:7px 8px;}
